<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--QUÉ HACE:
 Componente que proporciona la funcionalidad de añadir un nuevo movimiento
 (con importe positivo o negativo) a una cuenta concreta. Inserta un registro
 nuevo en la colección transactions_account de mongoDB y después calcula
 el nuevo saldo de la cuenta a la que pertenece el movimiento.

Este componente no tiene elementos gráficos, recibe los datos del nuevo
movimiento a través de una propiedad de tipo object e invoca POST con
iron-ajax para insertar el movimiento.
Si la inserción ha sido correcta, invoca GET con iron-ajax para obtener
 nuevo saldo
-->

<dom-module id="dm-new-transaction">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!-- recuperamos datos de la API con AJAX -->
    <iron-ajax
      id="doNewTransaction"
      method="POST"
      url="http://localhost:3000/irb_project/v1/accounts/{{dataNewTransaction.id}}/transactions"
      content-type="application/json"
      handle-as="json"
      on-response="_manageAJAXResponseNT"
      on-error="_showError" >
    </iron-ajax>

    <iron-ajax
      id="doGetBalance"
      method="GET"
      url="http://localhost:3000/irb_project/v1/accounts/{{dataNewTransaction.id}}/balance"
      content-type="application/json"
      handle-as="json"
      on-response="_manageAJAXResponseGB"
      on-error="_showError" >
    </iron-ajax>

 </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmNewTransaction extends Polymer.Element {
      static get is() { return 'dm-new-transaction'; }
      static get properties (){

        return {
          dataNewTransaction: {
            type: Object,
            observer: '_myAPINewTransaction'
          },
          msg: {
            type: String
          }
        }
      }

      //función a la que voy a llamar cuando el usuario introduzca sus datos...
      _myAPINewTransaction(newTransaction, oldValue){
        console.log("Soy myAPINewTransaction: Datos recibidos newTransaction: ");
        console.log(newTransaction);
      
        this.$.doNewTransaction.body = JSON.stringify(newTransaction);

        //genera petición con los parámetros disponibles (ahora, el body)
        this.$.doNewTransaction.generateRequest();
        console.log("petición NewTransaction a API hecha");

      }

      //manejador respuesta de la petición que vamos a enviar
      _manageAJAXResponseNT(data){
        console.log("(dm-new-transaction manageAJAXResponse) response: ");
        console.log(data.detail.response);

        if(data.detail.response.id != 0)
        {
          //calcular el saldo actual, tras insertar el nuevo movimiento
          this.$.doGetBalance.generateRequest();
          console.log("Request para nuevo saldo");
        }
        else {
            this.dispatchEvent(new CustomEvent('dm-new-transaction-error-event', {
              bubbles: true,
              composed: true,
              detail: {
                "msg": data.detail.response.msg,
                "id": 0
              }}));
              console.log("Emitido=dm-new-transaction-error-event");
          }
      }

      //Gestión de la respuesta tras hacer GET sobre tabla movimientos para obtener saldo
      _manageAJAXResponseGB(data){
        console.log("(dm-new-transaction manageAJAXResponse GET B) response: ");
        console.log(data.detail.response);

        if(data.detail.response.balance)
        {
          //devolvemos el saldo actual, tras insertar el nuevo movimiento
          this.dispatchEvent(new CustomEvent('dm-new-transaction-success-event', {
            bubbles: true,
            composed: true,
            detail: {
              "id_account": data.detail.response.id_account,
              "new_balance": data.detail.response.balance,
              "msg": data.detail.response.msg
             }}));

            //TODO: inicializar contenido de dataNewTransaction..
            console.log("Emitido=dm-new-transaction-success-event; "+ data.detail.response.msg);
        }
        else {
            this.dispatchEvent(new CustomEvent('dm-new-transaction-gb-error-event', {
              bubbles: true,
              composed: true,
              detail: {
                "msg": data.detail.response.msg
              }}));
              console.log("Emitido=dm-new-transaction-gb-error-event");
          }
      }

      _showError(error){
        console.log("(dm-new-transaction) Ups... ha habido un error: ");
        console.log(error);
      }

    }

    window.customElements.define(DmNewTransaction.is, DmNewTransaction);
  </script>
</dom-module>
