<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--QUÉ HACE:
 Componente que proporciona la funcionalidad de introducir un nuevo registro
 en la colección client de mongoDB. Este componente no tiene elementos gráficos,
 recibe los datos del registro a través de una propiedad de tipo object
  e invoca POST con iron-ajax
-->

<dom-module id="dm-new-client">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!-- recuperamos datos de la API con AJAX -->
    <iron-ajax
      id="doNewClient"
      method="POST"
      url="http://localhost:3000/irb_project/v1/client"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponseNC"
      on-error="showError" >
    </iron-ajax>

 </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmNewClient extends Polymer.Element {
      static get is() { return 'dm-new-client'; }
      static get properties (){

        return {
          credentialsNewClient: {
            type: Object,
            observer: '_myAPINewClient'
          },
          msg: {
            type: String
          }
        }
      }

      //función a la que voy a llamar cuando el usuario introduzca sus datos...
      _myAPINewClient(newClient, oldValue){
        console.log("Soy myAPINewClient: Datos recibidos newClient: ");
        console.log(newClient);
        this.$.doNewClient.body = JSON.stringify(newClient);

        //genera petición con los parámetros disponibles (ahora, el body)
        this.$.doNewClient.generateRequest();
        console.log("petición NewClient a API hecha");

      }

      //manejador respuesta de la petición que vamos a enviar
      manageAJAXResponseNC(data){
        console.log("(dm-new-client manageAJAXResponse) response: ");
        console.log(data.detail.response);

        if(data.detail.response.accessGranted)
        {
          this.dispatchEvent(new CustomEvent('dm-new-client-success-event', {
            bubbles: true,
            composed: true,
            detail: {
              isLogged: true,
              id_client: data.detail.response.id_client,
              msg: data.detail.response.msg,
             }}));
            console.log("Emitido=dm-new-client-success-event");
          }
          else {
            this.dispatchEvent(new CustomEvent('dm-new-client-error-event', {
              bubbles: true,
              composed: true,
              detail: {
                isLogged: false,
                msg: data.detail.response.msg
              }}));
              console.log("Emitido=dm-new-client-error-event");
          }
      }

      showError(error){
        console.log("(dm-new-client) Ups... ha habido un error: ");
        console.log(error);
      }
  }

    window.customElements.define(DmNewClient.is, DmNewClient);
  </script>
</dom-module>
