<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--QUÉ HACE:
Componente que proporciona la funcionalidad de introducir un nuevo registro
 en la colección account de mongoDB. Este componente no tiene elementos gráficos,
 recibe el identificador del cliente al que estará asociada la nueva cuenta a
  través de una propiedad e invoca POST con iron-ajax
-->

<dom-module id="new-account">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!-- recuperamos datos de la API con AJAX -->
    <iron-ajax
      id="doNewAccount"
      method="POST"
      url="http://localhost:3000/irb_project/v1/clients/{{id_client}}/account"
      content-type="application/json"
      handle-as="json"
      on-response="_manageAJAXResponseNA"
      on-error="_showError" >
    </iron-ajax>

 </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NewAccount extends Polymer.Element {
      static get is() { return 'new-account'; }
      static get properties (){

        return {
          id_client: {
            type: Number,
            observer: '_myAPINewAccount'
          },
          msg: {
            type: String
          }
        }
      }
      //función a la que voy a llamar cuando el usuario introduzca sus datos...
      _myAPINewAccount(newAccountClient, oldValue){
        console.log("Soy myAPINewAccount: Datos recibidos newAccountClient: ");
        console.log(newAccountClient);
        if(newAccountClient) {
          this.$.doNewAccount.body = JSON.stringify();

          //genera petición con los parámetros disponibles (ahora, el body)
          this.$.doNewAccount.generateRequest();
          console.log("petición NewAccount a API hecha");
        }
      }

      //manejador respuesta de la petición que vamos a enviar
      _manageAJAXResponseNA(data){
        console.log("(new-account manageAJAXResponse) response: ");
        console.log(data.detail.response);

        if(data.detail.response.id_account)
        {
          this.dispatchEvent(new CustomEvent('new-account-success-event', {
            bubbles: true,
            composed: true,
            detail: {
              "id_client": data.detail.response.id_client,
              "id_account": data.detail.response.id_account,
              "msg": data.detail.response.msg
             }}));
            console.log("Emitido=new-account-success-event");
          }
          else {
            this.dispatchEvent(new CustomEvent('new-account-error-event', {
              bubbles: true,
              composed: true,
              detail: {
                "id_client": data.detail.response.id_client,
                "id_account": data.detail.response.id_account,
                "msg": data.detail.response.msg
              }}));
              console.log("Emitido=new-account-error-event");
          }
      }

      _showError(error){
        console.log("(new-account) Ups... ha habido un error: ");
        console.log(error);
      }
    }

    window.customElements.define(NewAccount.is, NewAccount);
  </script>
</dom-module>
