<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--QUÉ HACE:
Componente que proporciona la funcionalidad de dar de baja todas las cuentas
de un cliente concreto. Este componente no tiene elementos gráficos, elimina
 los registros de la colección account, invocando DELETE con iron-ajax
-->

<dom-module id="baja-cuentas-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!-- recuperamos datos de la API con AJAX -->
    <iron-ajax
      id="doUnsubscribe"
      method="DELETE"
      url="http://localhost:3000/irb_project/v1/clients/{{id_client}}/accounts"
      content-type="application/json"
      handle-as="json"
      on-response="_manageAJAXResponse"
      on-error="_showError"
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BajaCuentasUsuario extends Polymer.Element {
      static get is() { return 'baja-cuentas-usuario'; }
      static get properties() {
        return {
          id_client: {
            type: Number
          },
          //baja cuentas automática
          baja_cuentas_auto: {
            type: Boolean,
            observer: '_myAPIDeleteAccounts'
          }
        };
      }

      _myAPIDeleteAccounts() {
        if(this.baja_cuentas_auto){
          this.$.doUnsubscribe.body = JSON.stringify();
          this.$.doUnsubscribe.generateRequest();
          console.log("petición eliminar cuentas enviada para id "+ this.id_client);
          //vuelvo a poner a false el indicador de baja.
          this.baja_cuentas_auto= false;
        }
        else {
          //console.log("_myAPIDeleteAccounts, baja_cuentas_auto = "+ this.baja_cuentas_auto);
        }

      }

      //manejador respuesta de la petición que vamos a enviar
      _manageAJAXResponse(data){
        console.log("Se eliminan cuentas... ");
        console.log(data.detail.response);

        //validar si se han dado de baja las cuentas correctamente
        if(data.detail.response.id_client)
        {
          this.dispatchEvent(new CustomEvent('baja-cuentas-usuario-success-event',
          {
            bubbles: true,
            composed: true,
            detail: {
              "id_client": data.detail.response.id_client,
              "msg": data.detail.response.msg,
          }}));
          console.log("Emitido=baja-cuentas-usuario-success-event");
        }
        else{
          this.dispatchEvent(new CustomEvent('baja-cuentas-usuario-error-event',
          {
            bubbles: true,
            composed: true,
            detail: {
              "id_client": data.detail.response.id_client,
              "msg": data.detail.response.msg,
          }}));
          console.log("Emitido=baja-cuentas-usuario-error-event");
        }
      }

      _showError(error){
        console.log("(baja-cuentas-usuario) Ups... ha habido un error: ");
        console.log(error);
      }
    }

    window.customElements.define(BajaCuentasUsuario.is, BajaCuentasUsuario);
  </script>
</dom-module>
