<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--QUÉ HACE:
Componente que proporciona la funcionalidad de dar de baja todos los movimientos
 de un cliente concreto. Este componente no tiene elementos gráficos, elimina
 los registros de la colección transactions_account, invocando DELETE con iron-ajax
-->

<dom-module id="baja-movimientos-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!-- recuperamos datos de la API con AJAX -->
    <iron-ajax
      id="doUnsubscribe"
      method="DELETE"
      url="http://localhost:3000/irb_project/v1/clients/{{id_client}}/transactions"
      content-type="application/json"
      handle-as="json"
      on-response="_manageAJAXResponse"
      on-error="_showError"
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BajaMovimientosUsuario extends Polymer.Element {
      static get is() { return 'baja-movimientos-usuario'; }
      static get properties() {
        return {
          id_client: {
            type: Number
          },
          //baja movimientos automática
          baja_movimientos_auto: {
            type: Boolean,
            observer: '_myAPIDeleteTransactions'
          }
        };
      }

      _myAPIDeleteTransactions() {
        if(this.baja_movimientos_auto){
          this.$.doUnsubscribe.body = JSON.stringify();
          this.$.doUnsubscribe.generateRequest();
          console.log("petición eliminar movimientos enviada para id "+ this.id_client);
          //vuelvo a poner a false el indicador de baja.
          this.baja_movimientos_auto= false;
        }
        else {
        //  console.log("_myAPIDeleteTransactions, baja_movimientos_auto = "+ this.baja_movimientos_auto);
        }

      }

      //manejador respuesta de la petición que vamos a enviar
      _manageAJAXResponse(data){
        console.log("Se eliminan movimientos... ");
        console.log(data.detail.response);

        //validar si se han dado de baja las cuentas correctamente
        if(data.detail.response.id_client)
        {
          this.dispatchEvent(new CustomEvent('baja-movimientos-usuario-success-event',
          {
            bubbles: true,
            composed: true,
            detail: {
              "id_client": data.detail.response.id_client,
              "msg": data.detail.response.msg,
          }}));
          console.log("Emitido=baja-movimientos-usuario-success-event");
        }
        else{
          this.dispatchEvent(new CustomEvent('baja-movimientos-usuario-error-event',
          {
            bubbles: true,
            composed: true,
            detail: {
              "id_client": data.detail.response.id_client,
              "msg": data.detail.response.msg,
          }}));
          console.log("Emitido=baja-movimientos-usuario-error-event");
        }
      }

      _showError(error){
        console.log("(baja-movimientos-usuario) Ups... ha habido un error: ");
        console.log(error);
      }
    }

    window.customElements.define(BajaMovimientosUsuario.is, BajaMovimientosUsuario);
  </script>
</dom-module>
