<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<!--<link rel="import" href="../../bower_components/cells-i18n-behavior/cells-i18n-behavior.html"> -->
<link rel="import" href="../../bower_components/cells-st-button/cells-st-button.html">
<link rel="import" href="../../bower_components/cells-switch/cells-switch.html">

<link rel="import" href="new-transaction-styles.html">

<!--QUÉ HACE:
Componente que presenta el formulario para que un usuario introduzca los datos
 de un nuevo movimiento (fecha, importe, moneda y tipo de movimiento).
 El identificador de la cuenta a la que pertenecerá el movimiento es un dato
 seleccionado antes de mostrar este formulario.
Cuenta con 3 botones: Confirmar, Limpiar formulario y Cancelar. Cada uno de
ellos envía al ser pulsado un evento distinto para que (en este caso) el
gestor de eventos de IRBank (gestor-evento.html) lo recoja y actúe en consecuencia.
Incluye una hoja de estilos donde se definen los formatos de los input
y los botones mediante código css.
-->

<dom-module id="new-transaction">
  <template>
    <style include="new-transaction-styles" ></style>
    <h3>Introduzca los datos del nuevo movimiento:</h3>
    <div class="form">
        <form id="formNewTransaction" method="post" >
          <div><input id="dateNewTransactionInput" class="layout-row-center custom-nt"
            min="2000-01-01"
            max="2018-05-23"
            name="dateNewTransaction"
            placeholder="Fecha"
            type="date"
            value="{{dateNewTransaction::change}}"
            required
            auto-validate
          ></input></div>

          <input id="amountNewTransaction"
            class="layout-row-center custom-nt"
              placeholder="Importe"
              name="amountNewTransaction"
              type="Number"
              size="20"
              maxlength="9"
              step="0.01"
              min=0.01
              max=999999.99
              value="{{amountNewTransaction::change}}"
              required
              auto-validate
          ></input>

          <input id="currencyNewTransaction" class="layout-row-center custom-nt"
            disabled
            name="currencyNewTransaction"
            type="text"
            value="EUR"
            size="18"
          ></input>

          <select id="categoryNewTransactionSelect" required value="{{categoryNewTransactionValue::change}}" pattern="[-1,1]"

           class="layout-row-center custom-nt" >
            <option value="0" id="category">Seleccione tipo</option>
            <option value="-1" id="Compra">Compra</option>
            <option value="-1" id="Domiciliación Recibo">Domiciliación Recibo</option>
            <option value="-1" id="Retirada efectivo">Retirada efectivo</option>
            <option value="1" id="Transferencia Recibida">Transferencia Recibida</option>
            <option value="1" id="Nómina">Nómina</option>
            <option value="1" id="Abono compra">Abono compra</option>
          </select>

          <cells-st-button class="full">
            <button class="btn-nt"
              on-click="_formSubmitNewTransaction">Confirmar</button>
          </cells-st-button>
          <input type="reset" value="Limpiar Formulario" class="link-button-nt link-form-nt">
          <input type="reset" id="cancelNewTransaction" value="Cancelar" class="link-button-nt link-form-nt" on-click="_cancelNewTransactionAction">

        </form>
      <br>
    </div>
  </template>

  <script>
  /**
   * @customElement
   * @polymer
   */
  class NewTransaction extends Polymer.Element {
    static get is() { return 'new-transaction'; }
    static get properties (){
      return {
        id_account: {
          type: Number
        },
        id_client: {
          type: Number
        },
        dateNewTransaction: {
          type: Date
        },
        amountNewTransaction: {
          type: Number
        },
        currencyNewTransaction: {
          type: String,
          value: 'EUR'
        },
        categoryNewTransaction: {
          type: String
        },
        categoryNewTransactionValue: {
          type: Number
        },
        msg: {
          type: String,
          value: ''
        }
      }
    }
    ready() {
        super.ready();
      }

    //validar datos introducidos + evento para poder ejecutar el DM
    _formSubmitNewTransaction(ev){
      ev.preventDefault();
      console.log("Dentro de _formSubmitNewTransaction");

      var select = this.$.categoryNewTransactionSelect;
      console.log("select.id >"+ select.options[select.selectedIndex].id);

      console.log(this.dateNewTransaction
        +">"+ this.amountNewTransaction
        +">" +this.currencyNewTransaction
        +">" +this.categoryNewTransactionValue
        +">" +select.options[select.selectedIndex].id
      );

      if (this.dateNewTransaction && (this.amountNewTransaction > 0) && this.currencyNewTransaction && (this.categoryNewTransactionValue != 0)) {
          this.dispatchEvent(new CustomEvent('new-transaction-success-event', {
          bubbles: true,
          composed: true,
          detail: {
            dateNewTransaction: this.dateNewTransaction,
            amountNewTransaction: this.amountNewTransaction,
            currencyNewTransaction: this.currencyNewTransaction,
            categoryNewTransaction: select.options[select.selectedIndex].id,
            categoryNewTransactionValue: this.categoryNewTransactionValue
          }}));
          console.log("Emitido=new-transaction-success-event");

          // Limpio formulario de nuevo mov para la próxima vez que se quiera insertar
          this._resetNewTransactionForm();

      } else {
        this.dispatchEvent(new CustomEvent('new-transaction-error-event', {
          bubbles: true,
          composed: true
        }));
      }
    }
    _cancelNewTransactionAction(){
      //Limpiar datos formulario
      console.log("en _cancel");
      this._resetNewTransactionForm();

      //Volver a mostrar Login
      //emitir evento para poner el newTransactionContent= false
      this.dispatchEvent(new CustomEvent('new-transaction-canceled-event', {
          bubbles: true,
          composed: true
        }
      ));
      console.log("Emitido=new-transaction-CANCELED-event");
    }
    /**
     * Reset formulario
     */
    _resetNewTransactionForm() {
      console.log("en _reset");
      this.$.formNewTransaction.reset();

      //inicializo valores para el siguiente dataNewTransaction
      this.dateNewTransaction = null;
      this.amountNewTransaction = null;
      this.categoryNewTransactionValue= 0;
    }

  }

  window.customElements.define(NewTransaction.is, NewTransaction);
  </script>

</dom-module>
