<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--QUÉ HACE:
Componente que proporciona la funcionalidad de actualizar el saldo
de una cuenta concreta de la colección account de mongoDB.

Este componente no tiene elementos gráficos, recibe el valor del saldo a
actualizar y el identificador de cuenta a través de una propiedad de
tipo object. Invoca PUT con iron-ajax
-->

<dom-module id="dm-set-balance">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- recuperamos datos de la API con AJAX -->
    <iron-ajax
      id="doSetBalance"
      method="PUT"
      url="http://irbank-route-irb-project.a3c1.starter-us-west-1.openshiftapps.com/irb_project/v1/accounts/{{dataNewBalance.id}}/balance/{{dataNewBalance.qty}}"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponseNC"
      on-error="showError" >
    </iron-ajax>

 </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmSetBalance extends Polymer.Element {
      static get is() { return 'dm-set-balance'; }
      static get properties (){

        return {
          dataNewBalance: {
            type: Object,
            observer: '_myAPISetBalance'
          },
          msg: {
            type: String
          }
        }
      }

      //función a la que voy a llamar cuando el usuario introduzca sus datos...
      _myAPISetBalance(newBalance, oldValue){
        console.log("Soy myAPISetBalance: Datos recibidos newBalance: ");
        console.log(newBalance);
        this.$.doSetBalance.body = JSON.stringify();
        //genera petición con los parámetros disponibles (ahora, el body)
        this.$.doSetBalance.generateRequest();
        console.log("petición newBalance a API hecha");

      }
//------------------------------------

      //manejador respuesta de la petición que vamos a enviar
      manageAJAXResponseNC(data){
        console.log("(dm-set-balance manageAJAXResponse) response: ");
        console.log(data.detail.response);

        if(data.detail.response.id_account == this.dataNewBalance.id)
        {
          this.dispatchEvent(new CustomEvent('dm-set-balance-success-event', {
            bubbles: true,
            composed: true,
            detail: {
              "msg": data.detail.response.msg
             }}));
            console.log("Emitido=dm-set-balance-success-event");
          }
          else {
            this.dispatchEvent(new CustomEvent('dm-set-balance-error-event', {
              bubbles: true,
              composed: true,
              detail: {
                "msg": data.detail.response.msg
              }}));
              console.log("Emitido=dm-set-balance-error-event");
          }
      }

      showError(error){
        console.log("(dm-set-balance) Ups... ha habido un error: ");
        console.log(error);
      }
  }

    window.customElements.define(DmSetBalance.is, DmSetBalance);
  </script>
</dom-module>
