<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--QUÉ HACE:
 Componente que obtiene la temperatura actual en la ciudad de Madrid junto con un
 icono que representa la situación del cielo (sol, nubes, lluvia…) a través de
 una API externa
-->

<dom-module id="api-weather">
  <template>

    <!-- recuperamos datos de la API externa con AJAX -->
    <iron-ajax
      id="getWeather"
      method="GET"
      url="https://api.apixu.com/v1/current.json?key=2a2b9090bd10416e84d85023180805&q=Madrid"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    </iron-ajax>

 </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ApiWeather extends Polymer.Element {
      static get is() { return 'api-weather'; }
      static get properties (){

        return {
          city_id: {
            type: Number,
            observer: '_myAPIGetWeather'
          },
          msg: {
            type: String
          }
        }
      }

      //función a la que voy a llamar cuando el usuario introduzca sus datos...
      _myAPIGetWeather(){
        console.log("Soy _myAPIGetWeather");

        this.$.getWeather.generateRequest();
        console.log("petición getWeather a API hecha");

      }

      //manejador respuesta de la petición que vamos a enviar
      manageAJAXResponse(data){
        console.log("(api-weather manageAJAXResponse) response: ");
        console.log(data.detail.response.current.temp_c);

        if(data.detail.response.current.temp_c)
        {
          this.dispatchEvent(new CustomEvent('api-weather-success-event', {
            bubbles: true,
            composed: true,
            detail: {
              cod: 200,
              name: data.detail.response.location.name +" ("+data.detail.response.location.country +")",
              temp_c: data.detail.response.current.temp_c,
              url_ico: data.detail.response.current.condition.icon
            }
            }));
            console.log("Emitido=api-weather-success-event");
          }
          else {
            this.dispatchEvent(new CustomEvent('api-weather-error-event', {
              bubbles: true,
              composed: true,
              detail: {
                cod: 404,
                msg: "(No se ha podido recuperar la temperatura actual)"
              }}));
              console.log("Emitido=api-weather-error-event");
          }
      }

      showError(error){
        console.log("(api-weather) Ups... ha habido un error: ");
        console.log(error);
      }

    }

    window.customElements.define(ApiWeather.is, ApiWeather);
  </script>
</dom-module>
