<dom-module id="list-styles"><template><style>
p {
  margin: 0; }

[hidden] {
  display: none; }

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

:host {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  position: relative;
  background-color: #fff;
  padding: 0.75em;
}
.table-la {
  border: 1px solid #000;
  border-spacing: 0;
  border-collapse: collapse;
  padding: 0.3em;
}
.table-la-title {
  border: 1px solid #000;
  border-spacing: 0;
  border-collapse: collapse;
  padding: 0.3em;
  background-color: lightblue;
}
.stripes-bar {
  width: 0.875rem;
  height: 3.75rem;
  float: left;
  margin-right: 1.125rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#003F8D), color-stop(0.625rem, #003F8D), color-stop(0.625rem, #0065BA), color-stop(1.25rem, #0065BA), color-stop(1.25rem, #0093E2), color-stop(1.875rem, #0093E2), color-stop(1.875rem, #00AEEB), color-stop(2.5rem, #00AEEB), color-stop(2.5rem, #41CEF8), color-stop(3.125rem, #41CEF8), color-stop(3.125rem, #9BE1FB), to(#9BE1FB));
  background: linear-gradient(to bottom, #003F8D, #003F8D 0.625rem, #0065BA 0.625rem, #0065BA 1.25rem, #0093E2 1.25rem, #0093E2 1.875rem, #00AEEB 1.875rem, #00AEEB 2.5rem, #41CEF8 2.5rem, #41CEF8 3.125rem, #9BE1FB 3.125rem, #9BE1FB);
}

.layout-row-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;

.link-button-nt {
    vertical-align: middle;
    color: #006EC1;
    text-align: center;
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.875rem;
    border:0px;
    background-color: white;
    margin-bottom: 1.125rem;
  }


</style></template></dom-module>
