<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/cells-st-button/cells-st-button.html">
<link rel="import" href="../../bower_components/cells-switch/cells-switch.html">

<link rel="import" href="new-client-styles.html">

<!--QUÉ HACE:
Componente que presenta el formulario para que un usuario introduzca los datos
 de un nuevo cliente (nombre, apellido, email y contraseña (de máx. 8 caracteres)).

Cuenta con 1 botón “Confirmar” que valida los datos del formulario y 2 links
 “Limpiar formulario” y “Cancelar”. Cada uno de ellos envía al ser pulsado un
 evento distinto para que (en este caso) el gestor de eventos de IRBank
  (gestor-evento.html) lo recoja y actúe en consecuencia.
Incluye una hoja de estilos donde se definen el formato de los campos del
formulario (<cells-molecule-input>), el botón y los links, mediante código css.
-->

<dom-module id="new-client">
  <template>

  <style include="new-client-styles" ></style>
  <h3>Introduzca sus datos para registrarse:</h3>
    <div class="form">
        <form id="formNewClient" method="post">
          <cells-molecule-input id="firstNameNewClient"
            name="firstNameNewClient"
            label="Nombre"
            type="text"
            value="{{firstNameNewClient}}"
            required
          ></cells-molecule-input>
          <cells-molecule-input id="lastNameNewClient"
              name="lastNameNewClient"
              label="Apellido"
              type="text"
              value="{{lastNameNewClient}}"
              required

          ></cells-molecule-input>
          <cells-molecule-input id="emailNewClient" class="input--base"
            name="emailNewClient"
            allowed-value="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+.com$"
            label="email"
            type="email"
            value="{{emailNewClient}}"
            required
            auto-validate
          ></cells-molecule-input>
          <cells-molecule-input id="passwordNewClient"
            name="passwordNewClient"
            label="password (máx 8 caracteres)"
            type="password"
            max-length="8"
            value="{{passwordNewClient}}"
            required >
          </cells-molecule-input>

          <cells-st-button class="full">
            <button class=" btn-nc"
              on-click="_formSubmitNewClient">Confirmar</button>
          </cells-st-button>

        </form>
      <a align="center" id="resetNewClient" on-click="_resetNewClientForm" class="link-nc forgot-pwd-nc">Limpiar formulario</a>
      <br>
      <a align="center" id="cancelNewClient" on-click="_cancelNewClientAction" class="link-nc forgot-pwd-nc">Cancelar</a>
    </div>
  </template>

  <script type='text/javascript'>

  //validar datos introducidos + evento para poder ejecutar el DM
  function validate()
  {
    if (!this.firstNameNewClient || !this.lastNameNewClient || !this.emailNewClient || !this.passwordNewClient){
      console.log("false....");
      return false;
    }
    else {
      console.log("true!....");
      return true;
    }
  }
  </script>

  <script>
  /**
   * @customElement
   * @polymer
   */
  class NewClient extends Polymer.Element {
    static get is() { return 'new-client'; }
    static get properties (){
      return {
        firstNameNewClient: {
          type: String,
          value: ''
        },
        lastNameNewClient: {
          type: String,
          value: ''
        },
        emailNewClient: {
          type: String,
          value: ''
        },
        passwordNewClient: {
          type: String,
          value: ''
        },
        msg: {
          type: String,
          value: ''
        }
      }
    }
    ready() {
        super.ready();
      }


    _formSubmitNewClient(ev){
      ev.preventDefault();
      console.log("Dentro de _formSubmitNewClient");
      console.log("first name="+ this.firstNameNewClient );
      console.log("last name="+ this.lastNameNewClient );
      console.log("mail="+ this.emailNewClient );
      console.log("passw="+ this.passwordNewClient );

      if (this.firstNameNewClient && this.lastNameNewClient && this.emailNewClient
          && (this.passwordNewClient.length >0) && (this.passwordNewClient.length <=8)) {
          this.dispatchEvent(new CustomEvent('new-client-event-success', {
          bubbles: true,
          composed: true,
          detail: {
            firstNameNewClient: this.firstNameNewClient,
            lastNameNewClient: this.lastNameNewClient,
            emailNewClient: this.emailNewClient,
            passwordNewClient: this.passwordNewClient
          }}));
          console.log("Emitido=new-client-event-success");

          //limpiamos formulario para la próxima vez que se cargue el componente
          this._resetNewClientForm();

      } else {
        this.dispatchEvent(new CustomEvent('new-client-event-error', {
          bubbles: true,
          composed: true
        }));
        // Si hay error no limpiamos formulario por si el usuario quiere volver a
        // intentarlo con los datos que ya hubiera rellenado
      }
    }
    _cancelNewClientAction(){
      //Limpiar datos formulario
      console.log("en _cancel");
      this._resetNewClientForm();
      //emitir evento para mostrar Login y poner el newClientContent= false
      this.dispatchEvent(new CustomEvent('new-client-event-canceled', {
          bubbles: true,
          composed: true
        }
      ));
      console.log("Emitido=new-client-event-CANCELED");
    }
    /**
     * Reset formulario
     */
    _resetNewClientForm() {

      console.log("en _reset");
      this.firstNameNewClient = '';
      this.lastNameNewClient = '';
      this.emailNewClient = '';
      this.passwordNewClient = '';
    }

  }

  window.customElements.define(NewClient.is, NewClient);
  </script>

</dom-module>
