<dom-module id="new-client-styles"><template><style>
p {
  margin: 0; }

[hidden] {
  display: none; }

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

:host {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  position: relative;
  background-color: var(--new-client-bg-color, #fff);
  padding: 0.75em;
  @apply --new-client;
  --cells-molecule-input-background-color: #fff;
  --cells-molecule-input-wrapper: { height: 38px; @apply --new-client-input-wrapper; };
  --cells-molecule-input-withcontent-field-label: { display: none; @apply --new-client-withcontent-field-label; };
  --cells-molecule-input-withcontent-field-input: { top: 0; padding-bottom: 0; @apply --new-client-withcontent-field-input; };
  --cells-molecule-input: { height: 2.5rem; border: 1px solid #d7e8ec; border-radius: 3px; @apply --new-client-inputs; };
  --cells-molecule-input-icon-visible: { height: 2.5rem; color: var(--new-client-inputs-icon-color, #006EC1); @apply --new-client-inputs-icons; }; }

cells-molecule-input {
  margin-bottom: 0.75rem;
  @apply --new-client-inputs; }

cells-molecule-input:active {
  border: 1px solid #B6CEEA;
  background-color: #E2FAFE;
  @apply --new-client-inputs-active; }

.form {
  border-bottom: 1px solid var(--new-client-form-border-bottom-color, #E5E5E5);
  padding-bottom: 1.25em;
  margin-bottom: 2.25rem;
  @apply --new-client-form; }
  .form .btn-nc {
    margin-bottom: 1.5rem;
    margin-top: 0.875rem;
    @apply --new-client-button; }

.label {
    color: #717780;
    font-size: .8em;
    font-style: italic;
  }

.link-nc {
  vertical-align: middle;
  color: #006EC1;
  text-align: center;
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
}

.forgot-pwd-nc {
  display: table;
  margin: auto;
  cursor: pointer;
}

.stripes-bar {
  width: 0.875rem;
  height: 3.75rem;
  float: left;
  margin-right: 1.125rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#003F8D), color-stop(0.625rem, #003F8D), color-stop(0.625rem, #0065BA), color-stop(1.25rem, #0065BA), color-stop(1.25rem, #0093E2), color-stop(1.875rem, #0093E2), color-stop(1.875rem, #00AEEB), color-stop(2.5rem, #00AEEB), color-stop(2.5rem, #41CEF8), color-stop(3.125rem, #41CEF8), color-stop(3.125rem, #9BE1FB), to(#9BE1FB));
  background: linear-gradient(to bottom, #003F8D, #003F8D 0.625rem, #0065BA 0.625rem, #0065BA 1.25rem, #0093E2 1.25rem, #0093E2 1.875rem, #00AEEB 1.875rem, #00AEEB 2.5rem, #41CEF8 2.5rem, #41CEF8 3.125rem, #9BE1FB 3.125rem, #9BE1FB);
  @apply --new-client-stripes-bar; }

.layout-row-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
  @apply --new-client-layout-row-center; }

cells-molecule-input:invalid {
    background-color: green;
  }

</style></template></dom-module>
