<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />

<link rel="import" href="../list-accounts/list-styles.html">

<!--QUÉ HACE:
Componente que proporciona la funcionalidad de mostrar una lista con las cuentas
y saldo de un cliente concreto. Incluye una hoja de estilos donde se define el
 formato de las celdas donde se muestran los datos, mediante código css.
Recibe el identificador de la cuenta de la que quieren listarse los movimientos
 a través de una propiedad e invoca GET con iron-ajax

-->

<dom-module id="list-transactions">
  <template>
    <style include="list-styles" ></style>
    <h3>La Cuenta {{id_account}} tiene [[transactions.length]] movimientos </h3>
    <!--  -->
    <iron-ajax
      id="getTransactions"
      method="GET"
      url="http://localhost:3000/irb_project/v1/accounts/{{id_account}}/transactions"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      >
    </iron-ajax>

    <!-- escribir movimientos de una misma cuenta con 'dom-repeat' -->
    <table>
      <tr>
        <td class=table-la-title >Fecha</td>
        <td class=table-la-title >Importe</td>
        <td class=table-la-title >Moneda</td>
        <td class=table-la-title >Concepto</td>
        <td class=table-la-title >Movimiento</td>
      </tr>
      <template is="dom-repeat" items="{{transactions}}">
        <tr>
          <td class=table-la >{{item.date}} </td>
          <td class=table-la >{{item.amount}} </td>
          <td class=table-la >{{item.currency}} </td>
          <td class=table-la >{{item.category}} </td>
          <td class=table-la >{{item.id_transaction}}</td>
        </tr>
      </template>
    </table>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ListTransactions extends Polymer.Element {
      static get is() { return 'list-transactions'; }
      static get properties() {
        return {
          id_account: {
            type: Number,
            observer: '_myAPIListTransactions'
          },
          transactions: {
            type: Array
          }
        };
      }
      //cuando el cliente seleccione una cuenta, pido sus movimientos:
      _myAPIListTransactions(accountId, oldValue){
        console.log("Soy _myAPIListTransactions. Datos recibidos: ");
        console.log(accountId);

        if(accountId) {
          //Si cambia la cuenta sobre la que consulto, reseteo el array de movimientos
          this.transactions = null;
          this.$.getTransactions.body = JSON.stringify();

          //genera petición con los parámetros indicados en iron-ajax (id_account)
          this.$.getTransactions.generateRequest();
          console.log("petición getTransactions a API hecha");
        }
        else {
          console.log("_myAPIListTransactions: No hay valor para id_account.");
        }

      }

      manageAJAXResponse(data){
        console.log("recuperando movimientos...");

        if (data.detail.response.length==0) {
          console.log("No se han encontrado movimientos para cuenta "+this.id_account);
        }
        else {
          this.transactions = data.detail.response;
        }
      }
      showError(error){
          console.log("(list-transactions) Ups... ha habido un error: ");
          console.log(error);
      }
    }

    window.customElements.define(ListTransactions.is, ListTransactions);
  </script>
</dom-module>
