<link rel="import" href="../../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />

<link rel="import" href="list-styles.html">

<!--QUÉ HACE:
Componente que proporciona la funcionalidad de mostrar una lista con las
cuentas y saldo de un cliente concreto. Para cada cuenta, proporciona un botón
 “Ver movimientos” que al pulsarse emite un evento con el identificador de la
 cuenta a la que se refiere. Incluye una hoja de estilos donde se define el
  formato de las celdas donde se muestran los datos, mediante código css.
Recibe el identificador del cliente del que quieren listarse las cuentas
a través de una propiedad e invoca GET con iron-ajax.
-->

<dom-module id="list-accounts">
  <template>
  <style include="list-styles" ></style>
  <h3>Cuentas: </h3>

    <iron-ajax
      id="getAccounts"
      method="GET"
      url="http://localhost:3000/irb_project/v1/clients/{{id_client}}/accounts"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
      >
    </iron-ajax>

  <!-- escribir cuentas de un mismo usuario con 'dom-repeat' -->
  <table >
    <template id="dom-repeat-accounts" is="dom-repeat" items="{{accounts}}">
      <tr >
        <td class=table-la >Cuenta {{item.id_account}}</td>
        <td class=table-la >Saldo: {{item.balance}} €</td>
        <td><input type="button" on-click="_listTransactionsClick" value="Ver movimientos" id="{{item.id_account}}"></input></td>
      </tr>
    </template>
  </table>

</template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ListAccounts extends Polymer.Element {
      static get is() { return 'list-accounts'; }
      static get properties() {
        return {
          id_client: {
            type: Number,
            observer: '_myAPIListAccounts'
          },
          id_account: {
            type: Number
          },
          balance: {
            type: Number,
            observer: '_myAPIListAccounts'
          },
          accounts: {
            type: Array
          }
        };
      }
      //función a la que voy a llamar cuando el usuario se logue...
      _myAPIListAccounts(loggedClientId, oldValue){
        console.log("Soy _myAPIListAccounts. Datos recibidos: ");
        console.log(loggedClientId);
        if(loggedClientId) {
          // reseteo array de cuentas
          this.accounts = null;
          this.$.getAccounts.body = JSON.stringify();

          //genera petición con los parámetros disponibles (id_client)
          this.$.getAccounts.generateRequest();
          console.log("petición getAccounts a API hecha");
        }
      }
      _listTransactionsClick(e){
        console.log("(_listTransactionsClick): "+e.target.id);

        this.dispatchEvent(new CustomEvent('list-accounts-transactions-event', {
          bubbles: true,
          composed: true,
          detail: {
            id_account: e.target.id
           }}));
        console.log("Emitido= list-accounts-transactions-event");

      }

      manageAJAXResponse(data){
      //  data.preventDefault();
        console.log("recuperando cuentas...");
        this.accounts = data.detail.response;
      }
      showError(error){
        console.log("(list-accounts) Ups... ha habido un error: ");
        console.log(error);
      }
    }

    window.customElements.define(ListAccounts.is, ListAccounts);
  </script>
</dom-module>
