<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--QUÉ HACE:
Componente que accede a la colección client de mongoDB y elimina la propiedad
 ‘logged’ (que previamente habrá sido creada si el componente de login ha
 validado email+password)
Consta de un botón que al pulsarse invoca POST con iron-ajax
-->

<dom-module id="logout-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="row" align="right">
      <span>Hola, {{name}}</span>
      <button on-click="logout">Logout</button>
    </div>

  <!-- recuperamos datos de la API con AJAX -->
  <iron-ajax
    id="doLogout"
    method="POST"
    url="http://localhost:3000/irb_project/v1/logout/{{id_client}}"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXResponse"
    on-error="showError"
  </iron-ajax>

</template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
          name: {
            type: String
          },
          id_client: {
            type: Number
          }
        };
      }

      logout(){
        console.log("botón pulsado");
        this.$.doLogout.body = JSON.stringify();
        this.$.doLogout.generateRequest();
        console.log("petición enviada para id "+ this.id_client);

      }
      //manejador respuesta de la petición que vamos a enviar
      manageAJAXResponse(data){
        console.log("Desconectando... ");
        console.log(data.detail.response);
        // isLogged = false...
        if(!data.detail.response.accessGranted)
        {
          this.dispatchEvent(new CustomEvent('logout-usuario-success-event',
          {
            bubbles: true,
            composed: true,
            detail: {
              isLogged: false,
              msg: data.detail.response.msg,
          }}));
          console.log("Emitido=logout-usuario-success-event");
        }
      }

      showError(error){
        console.log("(logout-usuario) Ups... ha habido un error: ");
        console.log(error);
      }
    }

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
