<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!--QUÉ HACE:
Componente que valida si el par de valores email+password están registrados
en la colección client de mongoDB. Este componente no tiene componentes
gráficos, solo accede a datos invocando POST con iron-ajax que le dirá si
 el par de valores existe o no (login OK/error)
-->

<dom-module id="dm-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!-- recuperamos datos de la API con AJAX     -->
    <iron-ajax
      id="doLogin"
      method="POST"
      url="http://localhost:3000/irb_project/v1/login"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    </iron-ajax>

 </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DmLogin extends Polymer.Element {
      static get is() { return 'dm-login'; }
      static get properties (){

        return {
          credentials: {
            type: Object,
            observer: '_myAPILogin'
          },
          msg: {
            type: String
          }
        }
      }

      //función a la que voy a llamar cuando el usuario introduzca sus datos...
      _myAPILogin(newCredentials, oldValue){
        console.log("Soy myAPILogin: Datos recibidos: ");
        console.log(newCredentials);
        this.$.doLogin.body = JSON.stringify(newCredentials);

        //genera petición con los parámetros disponibles (ahora, el body)
        this.$.doLogin.generateRequest();
        console.log("petición login a API hecha");

      }

      //manejador respuesta de la petición que vamos a enviar
      manageAJAXResponse(data){
        console.log("(manageAJAXResponse) response: ");
        console.log(data.detail.response);

        if(data.detail.response.accessGranted)
        {
          this.dispatchEvent(new CustomEvent('dm-login-success-event', {
            bubbles: true,
            composed: true,
            detail: {
              isLogged: true,
              name: data.detail.response.name,
              id_client: data.detail.response.id_client,
              msg: data.detail.response.msg

            }}));
            console.log("Emitido=dm-login-success-event");
          }
          else {
            this.dispatchEvent(new CustomEvent('dm-login-error-event', {
              bubbles: true,
              composed: true,
              detail: {
                isLogged: false,
                msg: data.detail.response.msg
              }}));
              console.log("Emitido=dm-login-error-event");
          }
      }

      showError(error){
        console.log("(dm-login) Ups... ha habido un error: ");
        console.log(error);
      }
    }

    window.customElements.define(DmLogin.is, DmLogin);
  </script>
</dom-module>
