<dom-module id="new-transaction-styles"><template><style>
p {
  margin: 0; }

[hidden] {
  display: none; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

:host {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  position: relative;
  background-color:  #fff;
  padding: 0.75em;
}

.form {
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 1.25em;
  margin-bottom: 2.25rem;
}
.form .btn-nt {
    margin-bottom: 1.5rem;
    margin-top: 0.875rem;
}
.label {
    color: #717780;
}

.link-nt {
  vertical-align: middle;
  color: #006EC1;
  text-align: center;
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
}

.link-form-nt {
  display: table;
  margin: auto;
  cursor: pointer;
}

.link-button-nt {
  vertical-align: middle;
  color: #006EC1;
  text-align: center;
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  border:0px;
  background-color: white;
  margin-bottom: 1.125rem;
  padding: 0.75em;
}

input[type=number] {
   width: 178px;
}

input[type=date] {
   width: 178px;
}

input[type=text] {
   width: 178px;
   background-color: lightgrey;
}
/*
input:valid, textarea:valid {
  border-color: none;
}
input:invalid {
  border-color: red;

}
*/
.layout-row-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
 }

.custom-nt {
  font-family: sans-serif;
  position: relative;
  background-color: #fff;
  padding: 0.75em;
}

</style></template></dom-module>
