<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-basic-login/cells-basic-login.html">
<link rel="import" href="../api-weather/api-weather.html">
<link rel="import" href="../dm-login/dm-login.html">
<link rel="import" href="../logout-usuario/logout-usuario.html">
<link rel="import" href="../baja-usuario/baja-usuario.html">
<link rel="import" href="../baja-usuario/baja-cuentas-usuario.html">
<link rel="import" href="../baja-usuario/baja-movimientos-usuario.html">
<link rel="import" href="../new-client/new-client.html">
<link rel="import" href="../dm-new-client/dm-new-client.html">
<link rel="import" href="../new-account/new-account.html">
<link rel="import" href="../list-accounts/list-accounts.html">
<link rel="import" href="../list-transactions/list-transactions.html">
<link rel="import" href="../new-transaction/new-transaction.html">
<link rel="import" href="../dm-new-transaction/dm-new-transaction.html">
<link rel="import" href="../dm-set-balance/dm-set-balance.html">

<!--QUÉ HACE:
Componente que implementa la lógica de IRBank. Gestiona los componentes polymer
 que se muestran por pantalla en cada momento, en función de los eventos que
 recibe. Estos eventos se emiten en función de las acciones que el usuario
 realiza con los formularios, botones o enlaces que se proporcionan en cada momento.
Además de contener todos los componentes polymer creados para este proyecto,
tiene un enlace que se muestra junto con el formulario de login para el acceso
al formulario de nuevo cliente (“Quiero ser cliente).
Para controlar qué mostrar, tiene tiene una serie de propiedades de tipo booleano
que van cambiando de valor true/false según deban mostrarse unos componentes u otros.
Además tiene una propiedad “msg” que se actualiza para dar información al
 usuario del resultado de las acciones que provoca su interacción.
-->

<dom-module id="gestor-evento">
  <template>
    <style include="cells-basic-login-styles new-client-styles new-transaction-styles"></style>
    <style>
      :host {
        display: block;
      }
      .infomsg {
        border:2px solid DodgerBlue;
        padding: 10px;
      }
      .toright {
        text-align: right;
        margin-right: 1em;
      }
    </style>
    <div>

    <!-- Mensajes desde API's o DM's  -->
    <span class="infomsg">
      <img src={{url_ico_wea}} height=20 width=20>
      {{msg}}
      <api-weather city_id={{city_id}}
        on-api-weather-success-event="_processApiWeatherSuccess"
      >
      </api-weather >
    </span>

    <!-- Si estamos logados -->
    <span hidden$={{!isLogged}} >
      <!-- Componente LOGOUT -->
      <logout-usuario id_client={{id_client}} name={{name}}
        on-logout-usuario-success-event="_processLogoutUsuarioSuccess"
      ></logout-usuario>
      <!-- Componente baja de usuario -->
      <baja-usuario id="bajaUsuarioId" id_client={{id_client}}
        on-baja-usuario-success-event="_processBajaUsuarioSuccess"
        on-baja-usuario-error-event="_processBajaUsuarioError"
      >
      </baja-usuario>
      <!-- Componente eliminar las cuentas de usuario (que ha decidido ser baja) -->
      <baja-cuentas-usuario id="bajaCuentasUsuarioId" id_client={{id_client}}
        on-baja-cuentas-usuario-success-event="_processBajaCuentasUsuarioSuccess"
        on-baja-cuentas-usuario-error-event="_processBajaCuentasUsuarioError"
      >
      </baja-cuentas-usuario>
      <!-- Componente eliminar movimientos de las cuentas de usuario (que ha decidido ser baja) -->
      <baja-movimientos-usuario id="bajaMovimientosUsuarioId" id_client={{id_client}}
        on-baja-movimientos-usuario-success-event="_processBajaMovimientosUsuarioSuccess"
        on-baja-movimientos-usuario-error-event="_processBajaMovimientosUsuarioError"
      >
      </baja-movimientos-usuario>
    </span>

    <!-- Si no estamos logados -->
    <span hidden$={{!loginContent}} >
      <!-- Componente LOGIN (re-utilizando componente cells) - por defecto se muestra -->
      <cells-basic-login id="cellsLogin"
        icon-checked="coronita:checkmark"
        icon-unchecked="coronita:close"
        icon-toggle="coronita:menu"
        username={{username}}
        password={{password}}

        on-cells-basic-login-success="processCellsBasicLoginSuccess"
        on-cells-basic-login-error="processCellsBasicLoginError"
        >
      </cells-basic-login>

      <!-- DM receptor del login = -->
      <dm-login id="dmlogin"
        on-dm-login-success-event="processDMLoginSuccess"
        on-dm-login-error-event="processDMLoginError"
        >
      </dm-login>
      <!-- Componente para dar de alta un Nuevo Cliente - por defecto se muestra -->
      <a align="center" id="newClientLink" on-click="_newClientAction" class="link forgot-pwd">
        QUIERO Ser Cliente
      </a>
    </span>

    <!-- Si se desea un ALTA de CLIENTE nueva: -->
    <span hidden$={{!newClientContent}}>
      <!-- Componente formulario para nuevo cliente -->
      <new-client id="newClientId"
        on-new-client-event-success="processNewClientSuccess"
        on-new-client-event-error="processNewClientError"
        on-new-client-event-canceled="_newClientCanceled"
      >
      </new-client>
      <!-- Componente nueva cuenta para (nuevo) cliente -->
      <new-account id="newClientAccountID" id_client={{id_new_client}}
        on-new-account-success-event="_processNewAccountSuccess"
        on-new-account-error-event="_processNewAccountError"
        >
      </new-account>
      <!-- DM para insertar new-client -->
      <dm-new-client id="dmNewClient"
        on-dm-new-client-success-event="_processDMNewClientSuccess"
        on-dm-new-client-error-event="_processDMNewClientError"
      >
      </dm-new-client>
    </span>

    <!-- Si estamos logados se activa lista de cuentas -->
    <span hidden$={{!listAccountsContent}} >
      <!-- Componente listado de cuentas de un cliente -->
      <list-accounts id="listAccounts" id_client={{id_client}}
        on-list-accounts-transactions-event="_processListTransactions"
      > </list-accounts>
    </span>

    <!-- Si estamos logados y se pulsa botón de Ver movimientos de una cuenta concreta: -->
    <span hidden$={{!listTransactionsContent}} >
      <!-- Componente ALTA de un nuevo MOVIMIENTO para una cuenta concreta -->
      <div class="toright"><input type="button" on-click="_newTransactionClick" value="Nuevo movimiento" id="{{id_account}}"></input></div>
      <!-- Componente listado de movimientos de una cuenta -->
      <div><list-transactions id_account={{id_account}} id= "listTransactionsId" > </list-transactions> </div>
    </span>

    <!-- Si el cliente ha pulsado el botón de nuevo movimiento, mientras ve la lista de mov de una cuenta concreta: -->
    <span hidden$={{!newTransactionContent}} >
      <!-- Componente formulario para nuevo movimiento -->
      <new-transaction id="newTransaction"
        on-new-transaction-success-event="_processNewTransactionSuccess"
        on-new-transaction-error-event="_processNewTransactionError"
        on-new-transaction-canceled-event="_newTransactionCanceled"
      > </new-transaction>
      <!-- DM para nuevo movimiento -->
      <dm-new-transaction id="dmNewTransaction"
        on-dm-new-transaction-success-event="_processDMNewTransactionSuccess"
        on-dm-new-transaction-error-event="_processDMNewTransactionError"
        on-dm-new-transaction-gb-error-event="_processDMNewTransactionGBError"
      >
      </dm-new-transaction>
      <!-- DM para actualizar el saldo total de una cuenta (necesario si se da de alta nuevo movimiento) -->
      <dm-set-balance id="dmSetBalance"
        on-dm-set-balance-success-event="_processDMSetBalanceSuccess"
        on-dm-set-balance-error-event="_processDMSetBalanceError"
      >
    </dm-set-balance>
    </span>

  </div>

 </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorEvento extends Polymer.Element {
      static get is() { return 'gestor-evento'; }
      static get properties (){
        return {
          city_id: {
            type: String,
            value: "Madrid"
          },

          name: {
            type: String,
            value: ''
          },
          id_client: {
            type: Number
          },
          id_account: {
            type: Number
          },
          id_new_client: {
            type: Number
          },
          newClientContent: {
            type: Boolean,
            value: false
          },
          loginContent: {
            type: Boolean,
            value: true
          },
          listAccountsContent: {
            type: Boolean,
            value: false
          },
          listTransactionsContent: {
            type: Boolean,
            value: false
          },
          newTransactionContent: {
            type: Boolean,
            value: false
          },
          isLogged: {
            type: Boolean,
            value: false
          },
          new_balance: {
            type: Number
          },
          msg: {
            type: String,
            value: ''
          },
        url_ico_wea: {
          type: String,
          value:''
        }
      }
    }
      //Solicito current weather a api externa y recojo evento OK (API me devuelve cod=200)
      _processApiWeatherSuccess (e){
        console.log("Evento api-weather-success capturado en el gestor");
        console.log(e);
        if(e.detail.cod ==200){
          this.msg= "La temperatura actual en "+ e.detail.name +" es de "
          + e.detail.temp_c +"º";
          this.url_ico_wea=e.detail.url_ico;
        }
        else {
          this.msg=e.detail.msg;
        }
      }

      //Evento formulario correcto
      processCellsBasicLoginSuccess (e){
        e.preventDefault();
        console.log("Evento cells-basic-login capturado en el gestor");
        console.log(e);
        this.$.dmlogin.credentials=
          {
            "email": e.detail.user,
            "password": e.detail.password
          };
        this.$.cellsLogin.reset();
      }
      //Evento formulario incorrecto
      processCellsBasicLoginError (e){
        console.log("Evento cells-basic-login ERROR capturado en el gestor");
        console.log(e);
        this.msg = "Por favor, complete el formulario antes de pulsar 'Entrar'";

      }

      //Evento login correcto (API me devuelve isLogged=true)
      processDMLoginSuccess (e){
        console.log("Evento dmlogin-success capturado en el gestor");
        console.log(e);
        this.isLogged= e.detail.isLogged;
        this.name= e.detail.name;
        this.id_client = e.detail.id_client;
        this.msg= e.detail.msg;
        this.loginContent=false;
        this.listAccountsContent=true;
        console.log("en gestor, "+ this.name +" islogged: "+this.isLogged);
      }

      //Evento login incorrecto (API me devuelve isLogged=false)
      processDMLoginError (e){
        console.log("Evento dmlogin-error capturado en el gestor");
        console.log(e);
        this.isLogged= e.detail.isLogged;
        this.msg= e.detail.msg;
      }

      //Evento logout correcto (API me devuelve isLogged=false)
      _processLogoutUsuarioSuccess (e){
        console.log("Evento logout-success capturado en el gestor");
        console.log(e);
        this.isLogged= e.detail.isLogged;
        this.loginContent=true;
        this.listAccountsContent=false;
        this.listTransactionsContent=false;
        this.newTransactionContent=false;

        this.name= null;
        this.id_account = null;
        this.id_client = null;
        this.id_new_client=null;
        this.balance = null;

        this.msg= e.detail.msg;
        console.log("en gestor, islogged: "+this.isLogged);
      }

      //Evento baja de cliente correcta.
      _processBajaUsuarioSuccess (e){
        console.log("Evento baja-success capturado en el gestor");
        console.log(e);

        //baja de sus cuentas
        this.$.bajaCuentasUsuarioId.baja_cuentas_auto = true;

        //la baja de los mov de sus cuentas lo haré si borro correctam las cuentas
        //en _processBajaCuentasUsuarioSuccess

        //Presento pantalla inicial Login
        this.isLogged= false;
        this.loginContent=true;
        this.listAccountsContent=false;
        this.listTransactionsContent=false;
        this.newTransactionContent=false;
        this.msg= e.detail.msg;
      }

      //Evento baja de cliente incorrecta...
      _processBajaUsuarioError (e){
        console.log("Evento baja-error capturado en el gestor");
        console.log(e);
        this.isLogged= true;
        this.msg= e.detail.msg + "--> Por favor, inténtelo más tarde.";
      }

      //Evento eliminar cuentas de cliente correcta.
      _processBajaCuentasUsuarioSuccess (e){
        console.log("Evento baja-cuentas-success capturado en el gestor");
        console.log(e);

        //baja de los mov de las cuentas del cliente
        this.$.bajaMovimientosUsuarioId.baja_movimientos_auto = true;

        this.msg= this.msg + "; "+ e.detail.msg;
      }

      //Evento eliminar cuentas de cliente incorrecto...
      _processBajaCuentasUsuarioError (e){
        console.log("Evento baja-cuentas-error capturado en el gestor");
        console.log(e);
        this.msg= e.detail.msg + "--> Por favor, contacte con IRBank.";
      }
      //Evento eliminar movimientos de todas las cuentas de cliente correcta.
      _processBajaMovimientosUsuarioSuccess (e){
        console.log("Evento baja-movimientos-success capturado en el gestor");
        console.log(e);

        this.msg= this.msg + "; "+ e.detail.msg;
      }

      //Evento eliminar movimientos de todas las cuentas de cliente incorrecto...
      _processBajaMovimientosUsuarioError (e){
        console.log("Evento baja-movimientos-error capturado en el gestor");
        console.log(e);
        this.msg= e.detail.msg + "--> Por favor, contacte con IRBank.";
      }

      // INICIO NUEVO CLIENTE ------------------------------------
      _newClientAction(e) {
        this.newClientContent = true;
        this.loginContent=false;
        this.msg = "Recuerde que el email será su forma de identificarse más adelante.";
      }
      //Evento formulario nuevo cliente correcto
      processNewClientSuccess (e){
        console.log("Evento new-client-event-success capturado en el gestor");
        console.log(e);
        this.$.dmNewClient.credentialsNewClient=
          {
            "first_name": e.detail.firstNameNewClient,
            "last_name": e.detail.lastNameNewClient,
            "email": e.detail.emailNewClient,
            "password": e.detail.passwordNewClient
          };
      }
      //Evento formulario nuevo cliente incorrecto
      processNewClientError (e){
        console.log("Evento new-client-event-ERROR capturado en el gestor");
        console.log(e);
        this.msg = "Por favor, complete el formulario antes de pulsar 'Confirmar'";

      }
      //Evento NewClient correcto (API me devuelve isLogged=true)
      _processDMNewClientSuccess (e){
        console.log("Evento DMNewClient-success capturado en el gestor");
        console.log(e);
        this.isLogged= false;
        this.newClientContent = false;
        this.loginContent = true;

        //Crear una cuenta para el nuevo cliente: estará observando propiedad
        this.id_new_client = e.detail.id_client;
        this.msg= e.detail.msg;
        console.log("en gestor, "+ this.name +"islogged: "+this.isLogged +", id_new_client "+this.id_new_client );
      }

      //Evento NewClient incorrecto (API me devuelve isLogged=false)
      _processDMNewClientError (e){
        console.log("Evento DMNewClient-error capturado en el gestor");
        console.log(e);
        this.isLogged= false;
        this.newClientContent = true;
        this.loginContent = false;

        this.msg= e.detail.msg;
      }

      //El cliente cancela sin de darse de alta
      _newClientCanceled(e) {
        console.log("_newClientCanceled = "+this.newClientContent);
        this.newClientContent = false;
        this.loginContent=true;
        this.msg = "";
      }

      //Evento NewAccount correcto
      _processNewAccountSuccess (e){
        console.log("Evento NewAccount-success capturado en el gestor");
        console.log(e);

        this.msg=this.msg+"; ("+ e.detail.msg +")";
      }

      //Evento NewAccount incorrecto
      _processNewAccountError (e){
        console.log("Evento NewAccount-error capturado en el gestor");
        console.log(e);

        // Si no se crea cuenta nueva, tampoco se da por válido el alta del CLIENTE
        // Se ejecuta un borrado "automático" del cliente
        this.$.bajaUsuarioId.baja_usuario_auto = true;

        //Se presenta de nuevo el formulario para alta cliente
        this.isLogged= false;
        this.newClientContent = true;
        this.loginContent = false;

        this.msg= e.detail.msg;
      }
      // -----------------------------

      //Mostrar la lista de movimientos de la cuenta seleccionada
      _processListTransactions(e){
        console.log("GESTOR _processListTransactions de cuenta = "+ e.detail.id_account);
        //Cuando el usuario clicka en el botón de 'ver mov' de la cuenta, se setea el valor de id_cuenta
        // y en ese momento ya se pide el list-transactions (porque tiene prop observer).
        this.id_account = e.detail.id_account;
        this.listTransactionsContent = true;

        //Si el cliente inserta un mov y se vuelve a clickar 'ver mov' de la misma cuenta
        // no se modifica el valor de id_account, por lo que no se ejecuta list-transactions
        // y no vemos el último mov insertado (se muestra la lista anterior)
        //Para controlar esto, cada vez que insertemos un movimiento, controlaremos que este
        // id cambie si se pulsa de nuevo el botón de 'ver mov'
        //Además, deberá recargarse la lista de cuentas, para que muestre el nuevo saldo

      }

      // INICIO NUEVO MOVIMIENTO ---------------------------
      // EL usuario pulsa botón de nuevo movimiento
      _newTransactionClick(e){
        console.log("(_newTransactionClick): "+e.target.id);
        //Presentar el formulario de nuevo movimiento
        this.newTransactionContent = true;
        this.listAccountsContent = false;
        this.listTransactionsContent = false;

        //set id cuenta para abrir el formulario de nuevo mov con la cuenta donde se insertará
        this.$.newTransaction.id_client= this.id_client;
        this.$.newTransaction.id_account= this.id_account;
      }
      //Evento formulario nuevo movimiento correcto
      _processNewTransactionSuccess (e){
        console.log("Evento new-transaction-event-success capturado en el gestor");
        console.log(e);
        /*
        //Si queremos insertar en formato dd/mm/aaaa:
        var msec_date = Date.parse(e.detail.dateNewTransaction);
        var full_date = new Date(msec_date);
        console.log(">>>FECHA..."+full_date);

        var formated_date =
            full_date.getDate()
          + "/"
          + (full_date.getMonth()+1)
          + "/"
          + full_date.getFullYear();

       console.log("FORMATEADA..."+formated_date);
       */

       var signed_amount = e.detail.amountNewTransaction * e.detail.categoryNewTransactionValue;
       console.log("Importe del movimiento (con signo)..."+signed_amount);

        this.$.dmNewTransaction.dataNewTransaction=
          {
            "id": this.id_account,
            "id_client": this.id_client,
            "date": e.detail.dateNewTransaction,
            "amount": signed_amount,
            "currency": e.detail.currencyNewTransaction,
            "category": e.detail.categoryNewTransaction
          };
      }
      //Evento formulario nuevo movimiento incorrecto
      _processNewTransactionError (e){
        console.log("Evento new-transaction-event-ERROR capturado en el gestor");
        console.log(e);
        this.msg = "Por favor, complete el formulario antes de pulsar 'Confirmar' (recuerde que el importe debe ser mayor de 0).";

      }

      //Evento inserción nuevo movimiento correcto (API)
      _processDMNewTransactionSuccess (e){
        console.log("Evento DMNewTransaction-success capturado en el gestor");
        console.log(e);
        // El DM habrá insertado movimiento y calculado nuevo saldo;
        // Ahora deberemos actualizar saldo de id cuenta
        this.$.dmSetBalance.dataNewBalance=
          {
            "id": this.id_account,
            "qty": e.detail.new_balance
          }

        //Deberá actualizarse también el listado de cuentas y saldos de la pantalla
        this.new_balance = e.detail.new_balance;

        this.id_account = null;
        this.msg= e.detail.msg;
        console.log("en gestor, "+ this.msg +" Nuevo saldo: "+e.detail.new_balance  +"; id "+ this.id_account);
      }

      //Evento inserción nuevo movimiento incorrecta (API)
      _processDMNewTransactionError (e){
        console.log("Evento DMNewTransaction-error capturado en el gestor");
        console.log(e);
        //NO se ha insertado el mov nuevo
        // vuelvo a pantalla anterior, con cuentas y movimientos de id_account
        this.newTransactionContent = false;
        this.listAccountsContent = true;
        this.listTransactionsContent = true;

        this.msg= e.detail.msg;
        console.log("en gestor, "+ this.msg );
      }

      // Evento usuario cancela sin insertar nuevo movimiento
      _newTransactionCanceled(e) {
        console.log("Evento _newTransactionCanceled ");
        // vuelvo a pantalla anterior, con cuentas y movimientos de id_account
        this.newTransactionContent = false;
        this.listAccountsContent = true;
        this.listTransactionsContent = true;
        this.msg = "";

      }

      //Evento cálculo nuevo saldo tras insertar movimiento incorrecto (API)
      //Se ha insertado el mov nuevo pero no heoms calculado el nuevo saldo
      _processDMNewTransactionGBError (e){
        console.log("Evento DMNewTransaction-gb-error capturado en el gestor");
        console.log(e);

        // vuelvo a pantalla anterior, con cuentas y movimientos de id_account
        this.newTransactionContent = false;
        this.listAccountsContent = true;
        this.listTransactionsContent = true;

        this.msg= e.detail.msg;
        console.log("en gestor, "+ this.msg );
      }

      //Se ha actualizado el saldo de la cuenta correctamente
      _processDMSetBalanceSuccess(e){
        console.log("Evento DmSetBalance-success capturado en el gestor");
        console.log(e);

        //Como se ha actualizado el saldo de una cuenta, hay que actualizar la tabla de cuentas y saldos
        this.$.listAccounts.balance = this.new_balance;
        this.new_balance = null;

        //Cuando se han realizado todas las acciones de actualización
        // vuelvo a pantalla con listado cuentas
        this.newTransactionContent = false;
        this.listAccountsContent = true;
        this.listTransactionsContent = false;

        this.msg= e.detail.msg;
        console.log("en gestor, "+ this.msg );
      }

      //Error al intentar actualizar el saldo de la cuenta
      _processDMNewTransactionGBError (e){
        console.log("Evento DMNewTransaction-gb-error capturado en el gestor");
        console.log(e);

        // vuelvo a pantalla anterior, con cuentas y movimientos de id_account
        this.newTransactionContent = false;
        this.listAccountsContent = true;
        this.listTransactionsContent = true;

        this.msg= e.detail.msg;
        console.log("en gestor, "+ this.msg );
      }
      // ---------------------

    }
    window.customElements.define(GestorEvento.is, GestorEvento);
  </script>
</dom-module>
