<dom-module id="baja-usuario-styles"><template><style>
p {
  margin: 0; }

[hidden] {
  display: none; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

:host {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  position: relative;
  background-color: #fff;
  padding: 0.75em;
}

.link-button-baja {
    vertical-align: middle;
    color: #006EC1;
    text-align: center;
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.850rem;
    border:0px;
    background-color: white;
    margin-bottom: 1.125rem;
    cursor: pointer;
}

</style></template></dom-module>
