<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="baja-usuario-styles.html">

<!--QUÉ HACE:
Componente con un botón que proporciona la funcionalidad de dar de baja un
cliente concreto. Incluye una hoja de estilos donde se define el formato del
botón mediante código css.
Este componente sólo elimina el registro de la colección client,
invocando DELETE con iron-ajax
-->

<dom-module id="baja-usuario">
  <template>
    <style include="baja-usuario-styles" ></style>
    <div class="row" align="right">
      <button class="link-button-baja" on-click="_unsubscribe">Baja Usuario</button>
    </div>

  <!-- recuperamos datos de la API con AJAX -->
  <iron-ajax
    id="doUnsubscribe"
    method="DELETE"
    url="http://irbank-route-irb-project.a3c1.starter-us-west-1.openshiftapps.com/irb_project/v1/clients/{{id_client}}"
    content-type="application/json"
    handle-as="json"
    on-response="_manageAJAXResponse"
    on-error="_showError"
  </iron-ajax>

</template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BajaUsuario extends Polymer.Element {
      static get is() { return 'baja-usuario'; }
      static get properties() {
        return {
          id_client: {
            type: Number
          },
          //Esta variable controla baja usuario automática (por ej., por error al crear cuenta nueva
          // cuando se crea usuario nuevo) sin que se pida confirmación al usuario.
          baja_usuario_auto: {
            type: Boolean,
            value: false,
            observer: '_myAPIDeleteClient'
          }
        };
      }

      _unsubscribe(){
        console.log("botón baja pulsado");
        //pedir confirmación baja-usuario
        if(confirm("¿Está seguro de dar de baja su usuario?"))
        {
          this.baja_usuario_auto= true;
        }
        else {
          console.log("Usuario no confirma baja");
        }
      }
      _myAPIDeleteClient() {
        if(this.baja_usuario_auto){
          this.$.doUnsubscribe.body = JSON.stringify();
          this.$.doUnsubscribe.generateRequest();
          console.log("petición de baja enviada para id "+ this.id_client);
        }
        //vuelvo a poner a false el indicador de baja automática.
        this.baja_usuario_auto= false;
      }

      //manejador respuesta de la petición que vamos a enviar
      _manageAJAXResponse(data){
        console.log("Se elimina usuario... ");
        console.log(data.detail.response);

        //validar si el cliente se ha dado de baja correctamente
        if(data.detail.response.id_client)
        {
          this.dispatchEvent(new CustomEvent('baja-usuario-success-event',
          {
            bubbles: true,
            composed: true,
            detail: {
              "id_client": data.detail.response.id_client,
              "msg": data.detail.response.msg,
          }}));
          console.log("Emitido=baja-usuario-success-event");
        }
        else{
          this.dispatchEvent(new CustomEvent('baja-usuario-error-event',
          {
            bubbles: true,
            composed: true,
            detail: {
              "id_client": data.detail.response.id_client,
              "msg": data.detail.response.msg,
          }}));
          console.log("Emitido=baja-usuario-error-event");
        }
      }

      _showError(error){
        console.log("(baja-usuario) Ups... ha habido un error: ");
        console.log(error);
      }
    }

    window.customElements.define(BajaUsuario.is, BajaUsuario);
  </script>
</dom-module>
